@font-face {
  font-family: "Cinzel";
  src: url("Cinzel Family/Cinzel/Cinzel-Regular.otf") format("opentype");
}

body {
  font-family: "Cinzel";
}

.card {
  width: 128px;
  border: 1px solid black;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(#eee,#cba);
  margin: 0.3em;
}

.card-element {
  text-align: center;
  margin: 0.3em;
  border: 1px solid black;
}

.action {
  background: linear-gradient(#fff,#eee);
}

.vesta {
  background-color: #96c;
}

.jupiter {
  background-color: #39c;
}

.saturnus {
  background-color: #fe3;
}

.venus {
  background-color: #090;
}

.mercurius {
  background: #c93;
}

.mars {
  background-color: #f90;
}

.minerva {
  background-color: #cfc;
}


.resource-icon {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  text-align: center;
}

.card-element.card-cost {
  text-align: right;
  border: 0;
}

.red {
  fill: red;
}

.brick { background-image: url("icons/brick.svg"); }
.wheat { background-image: url("icons/wheat.svg"); }
.tool  { background-image: url("icons/tool.svg"); }
.wine  { background-image: url("icons/wine.svg"); }
.cloth { background-image: url("icons/cloth.svg"); }
.money { background-image: url("icons/money.svg"); }
.cards { background-image: url("icons/cards.svg"); }
.house { background-image: url("icons/house.svg"); }
.ship  { background-image: url("icons/ship.svg"); }
.person { background-image: url("icons/person.svg"); }
.blank { background-image: url("icons/blank.svg"); }
.any   { background-image: url("icons/blank.svg"); }


#players {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

.player {
  background-color: white;
  border: 1px solid black;
}

.player .name {
  max-width: 8em;
}


#market {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}

.spot_cost {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cost {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
